<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>React SSR Sample Java</title>
    <meta name="description" content="React SSR (Server Side Rendering) Sample Java"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="canonical" href="https://github.com/daves125125/react-ssr-sample-java-graalvm">
    <link
            rel="stylesheet"
            href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
            integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN"
            crossorigin="anonymous"
    />
</head>

<body>

<div id="app">SERVER_RENDERED_HTML</div>

<script>
    window.__PRELOADED_STATE__ = SERVER_RENDERED_STATE;
</script>
<script src="https://cdn.jsdelivr.net/npm/react/umd/react.production.min.js" crossorigin></script>

<script
        src="https://cdn.jsdelivr.net/npm/react-dom/umd/react-dom.production.min.js"
        crossorigin></script>

<script
        src="https://cdn.jsdelivr.net/npm/react-bootstrap@next/dist/react-bootstrap.min.js"
        crossorigin></script>
<script src="/client.bundle.js"></script>

</body>

</html>
